{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="nav">
    <h2>– TOP-50 CLUBS BY EXPENDITURE IN 2022-23 –</h2>
</div>
<div class="latest-transfers">
    <table class="top-players" style="width:100%; border-collapse:collapse;">
        <thead>
            <tr>
                <td>#</td>
                <td>Club</td>
                <td>Country</td>
                <td>Expenditure, mill. euro</td>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
            <tr style="border-bottom: 1px solid #444;"">
                <td>{{ forloop.counter }}</td>
                <td>{{ club.name }}</td>
                <td>{{ club.country }}</td>
                <td>{{ club.total_spent|floatformat:2 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Ma'lumot topilmadi</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <p>It is a list of clubs with the highest transfer expenditure in 2022-23 season.</p>
</div>
{% endblock %}